/* ヘッダーの余白消し */
*{
	margin: 0px;
	padding: 0px;
}

/* リンクの文字 */
header a,a:visited,a:active{
	color: inherit;
}

header a:hover{
	color: saddlebrown
}


/* ヘッダー横並び */
header{
	position:  fixed;
	background-color: #ca670b;
	color: white;
	width: 100%;
	margin-top: 0;
	z-index: 10;
}
ul#header_nav{
	text-align: center;
	font-weight: bold;
}

header ul{
	background-color: #ffa959;
}
ul#header_nav li{
	padding-left: 2%;
	padding-right: 2%;
	color: white;
	display: inline-block;
}

h1{
	text-align: center;
}

main{
	text-align: center;
	padding-top: 15%;
	padding-bottom: 5%;
}

main div{
	margin-bottom: 10%;
}

.contens{
	margin-bottom: 100%;
}

#news{
	display: block;
	padding-top: 10%;	/* padding-topとmargin-topで100%,-100%とすることで<a>タグでジャンプしたときのズレを防止 */
	margin-top: -10%;
}

#about{
	display: block;
	padding-top: 10%;
	margin-top: -10%;
}

#program{
	display: block;
	padding-top: 10%;
	margin-top: -10%;
}

#program_description{
	display: grid;
	grid-template-columns: repeat(auto,auto);
	gap:0px;
	flex-wrap: wrap;		/* アイテムを折り返して複数行に上から下に並べる */
}

.program_description_item{
	position: sticky;
	margin-left: 10%;
	margin-right: 10%;
}


.program_img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.program_link_img{
	width: 32px;
	margin-bottom: -5px;
}

/* フッター */
footer{
	position: fixed;
	bottom: 0;
	background-color: #ffa959;
	width: 100%;
}

/* フッター右側から並べる */
ul#footer_nav li{
	padding-left: 25px;
	display: inline-block;
	float: right;
}

/* ヘッダーSNSアイコンサイズ */
.footer_img{
	width: 64px;
	margin-top: 5px;
	margin-bottom: 0px;
}